// Шрифты
$font-family: "Inter", sans-serif !default;
$font-size: 16px;
$font-size-pc: 16;
$font-size-mob: 14;
$line-hight: 150%;

// Цвета
$white: #EDF8FF;
$black: #272727;
$gold: #FFD700;
$yellow: #FCDE77;
$dark-grey: #404040;
$grey: #737e84;
$light-grey-1: #AEBAC3;
$red: #FF4951;
$blue: #5A99F8;

// Отступы
$page-padding: 40px;
$page-padding-pc: 40;
$page-padding-mob: 15;

$block-margin: 160px;
$block-margin-pc: 160;
$block-margin-mob: 100;

$title-left-padding: 155px;
$title-left-padding-pc: 155;
$title-left-padding-mob: 120;

// Размеры блоков
$nav-bar-width: 500px;
$nav-bar-width-pc: 500;
$nav-bar-width-mob: 290;

$header-height-pc: 110;
$header-height-mob: 90;

$screen-max-width: 1920;
$screen-min-width: 320px;