@import '../../../assets/styles/utils/utils';

.search {
  position: relative;
  width: 100%;
  height: 100%;

  &-input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: 1px solid $white;
    @include adaptiv-value('padding-left', 40, 20);
    @include adaptiv-value('padding-right', 60, 30);
    appearance: none;
    -webkit-appearance: none;
    color: $white;
    background: $dark-grey;

    &::placeholder {
      color: $light-grey-1;
    }
  }

  &-icon {
    position: absolute;
    @include adaptiv-value('right', 30, 15);
    top: -2px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & path {
      stroke: $grey;
      @include transition();
    }
  }

  &-input:focus + &-icon {
    & path {
      stroke: $white;
    }
  }
}