@import '../../../assets/styles/utils/utils';

.post {
  @include adaptiv-value('padding-top', 25, 10);
  @include adaptiv-value('padding-bottom', 25, 10);

  &-category {
    @include adaptiv-value('margin-bottom', 14, 10);
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 2px 14px;
    background: $grey;
    border-radius: 20px;
    @include transition();

    &:hover {
      background: $blue;
    }

    &__text {
      @include adaptiv-font(14, 10);
      letter-spacing: 1px;
      font-weight: 300;
    }
  }

  &-name {
    @include adaptiv-value('margin-bottom', 20, 10);
    @include adaptiv-font(16, 10);
    width: 60%;
  }
}