@import './utils/utils';

body {
  position: relative;
  background-color: $black;
  color: $white;

  .content {
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;

    .title {
      position: relative;
      width: 100%;
      @include adaptiv-value('padding-right', $title-left-padding-pc + $page-padding-pc, $page-padding-mob);
      @include adaptiv-value('padding-left', $title-left-padding-pc + $page-padding-pc, $page-padding-mob);
      @include adaptiv-value('padding-top', $header-height-pc, $header-height-mob);
      overflow: hidden;
    }
  }
}

.os-scrollbar {
  &-handle {
    --os-handle-bg: rgba(115, 126, 132, 0.8);
    --os-handle-bg-hover: rgba(64, 64, 64, 0.8);
    --os-handle-bg-active: rgba(64, 64, 64, 0.8);
  }
}

.swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.parallax__inner {
  position: relative;
  overflow: hidden;
}

.parallax__layer {
  transition: transform 0.3s linear;
}

.img2background {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}