@import '../../assets/styles/utils/utils';

.categories {
  &-link {
    position: relative;
    font-weight: 300;
    @include adaptiv-font(16, 12);
    padding: 8px 0;
    @include transition();

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      height: 0;
      width: 2px;
      border-radius: 2px;
      transform: translate(0, -50%);
      background: $gold;
      @include transition();
    }

    &:hover {
      padding-left: 14px;

      &::before {
        height: 60%;
      }
    }
  }
}