@import '../../../src/assets/styles/utils/utils';

.navigation-link {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background: $gold;
    @include transition();
  }

  &.active::before,
  &:hover::before {
    $width: 60%;
    left: calc((100% - $width) / 2);
    width: $width;
  }
}